h1 chart_days

canvas#chartDays width="400" height="400"
javascript:
  var ctx = document.getElementById('chartDays').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: [
                moment().add(-7, 'days').format('MM/DD'),
                moment().add(-6, 'days').format('MM/DD'),
                moment().add(-5, 'days').format('MM/DD'),
                moment().add(-4, 'days').format('MM/DD'),
                moment().add(-3, 'days').format('MM/DD'),
                moment().add(-2, 'days').format('MM/DD'),
                moment().add(-1, 'days').format('MM/DD')
                ],
          datasets: [{
              label: '# of Votes',
              data: [
                gon.learning_time_of_7days_ago,
                gon.learning_time_of_6days_ago,
                gon.learning_time_of_5days_ago,
                gon.learning_time_of_4days_ago,
                gon.learning_time_of_3days_ago,
                gon.learning_time_of_2days_ago,
                gon.learning_time_of_yesterday
              ],
              backgroundColor: [
                  'rgba(255, 99, 132, 1.0)',
                  'rgba(54, 162, 235, 1.0)',
                  'rgba(255, 206, 86, 1.0)',
                  'rgba(75, 192, 192, 1.0)',
                  'rgba(153, 102, 255, 1.0)',
                  'rgba(255, 159, 64, 1.0)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });
