h1 Current time
p#current_time
h1 Total is...
h2 Daily
p = "#{@daily_total} min."
h2 Weekly
p = "#{@weekly_total} min."
h2 Monthly
p = "#{@monthly_total} min."
h2 Grand Total
p = "#{@grand_total} min."
