/= link_to 'おためし', root_path, data: { confirm: "本当に「あめち」を削除してよろしいですか？", verify: "", verify_text: "削除する場合は商品名を入力してください", cancel: "やめる", commit: "削除する" }, title: "削除の確認", class: "btn btn-secondary btn-lg ml-5"
